/* IPAD */

@media screen and (max-width: 799px) {
  .section-p1 {
padding: 40px;
 }
 
 #navbar {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   height: 100vh;
   width: 300px;
   position: fixed;
   top: 0;
   right: -300px;
   padding: 80px 0 0 10px;
   box-shadow: 0 40px 60px rgba(0,0,0,0.1);
   background-color: #e3e6f3;
   transition: all 0.4s ease;
 }

#navbar.active {

  right: 0px;
}

#navbar li {
margin-bottom: 25px;
}

#mobile {
display: flex;
align-items: center;
}

#mobile i {
color: #1a1a1a;
font-size: 24px;
padding-left: 20px;
}

#Close {
display: initial;
font-size: 24px;
color: #222;
position: absolute;
top: 30px;
left: 30px;
}

.lg-bag {
  display: none;
}

#img-slider .slide .info {
padding: 0 40px;
}

#img-slider .slide img {
object-position: top 32% right 32%;
}

#img-slider .slide .info h4 {
padding-bottom: 10px;
}

#feature {
justify-content: center;
}

#feature .fe-box {
margin: 15px;
}

#product1 .pro-container {
 justify-content: center;
}

#product1 .pro-container .pro {
  margin: 15px;
}

#banner {
height: 20vh;
}
}

/*mobile*/

@media screen and (max-width: 477px){
 #headr {
padding: 10px 30px;
 } 
#navbar {
width: 225px;
}
.section-p1 {
padding: 20px;
}
#img-slider .slide .info {
padding: 0 20px;
}
#img-slider .slide .info h4 {
padding-bottom: 7px;
}
#img-slider .slide .info h1 {
  line-height: 1;
}

h1{
  font-size: 38px;
}
h2 {
font-size: 32px;
}

#feature .fe-box {
width: 130px;
margin: 0 0 15px 0;
}

#feature {
justify-content: space-around;
}

#product1 .pro-container .pro {
  width: 100;
}

#banner {
height: 40vh;
}


}
